<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^/?$ application/controller/index.php [NC,L]
	RewriteRule ^home/?$ application/controller/index.php [NC,L]
	RewriteRule ^ajax/?$ application/controller/ajax.php [NC,L]

	RewriteRule ^event/?$ application/controller/event.php [NC,L]
	RewriteRule ^configure-event/?$ application/controller/configure_event.php [NC,L]
	RewriteRule ^delete-event/?$ application/controller/delete_event.php [NC,L]

	RewriteRule ^register/?$ application/controller/register.php [NC,L]
	RewriteRule ^login/?$ application/controller/login.php [NC,L]
	RewriteRule ^logout/?$ application/controller/logout.php [NC,L]

</IfModule>
